# Rule configurations
--allman false
--binarygrouping 4,8
--commas always
--comments indent
--decimalgrouping 3,5
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping enabled
--header "// Copyright Spotify AB.\n// SPDX-License-Identifier: Apache-2.0"
--hexgrouping none
--hexliteralcase lowercase
--ifdef noindent
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges nospace
--self remove
--semicolons inline
--stripunusedargs closure-only
--trimwhitespace always
--wraparguments beforefirst
--wrapcollections beforefirst

# Disabled rules
--disable numberFormatting

# Tool options
--symlinks ignore

# Excluded directories
--exclude Carthage,MobiusTest/Source/SimpleDiff.swift,Templates
