name: CI

on:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: Carthage
        key: ${{ runner.os }}-carthage-${{ hashFiles('Cartfile.resolved') }}
        restore-keys: |
          ${{ runner.os }}-carthage-
    - name: Build and Test
      run: Tools/ci-xcode.sh
      env:
        DEVELOPER_DIR: /Applications/Xcode_11.3.1.app/Contents/Developer
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  spm:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Build and Test
      run: Tools/ci-spm.sh
      env:
        DEVELOPER_DIR: /Applications/Xcode_11.3.1.app/Contents/Developer
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
